@{
    ViewBag.Title = "站点配置";
}
<br />
<div class="nav_d">
<p style="font-size:25px">
    @Html.ActionLink("增加", "CreateConfig")
</p>
<br />
<table class="tb">
    <tr>
        <th>
           网站名：
        </th>
        <th>
           站点URL
        </th>
        <th>
           列表URL
        </th>
        <th>
           列表xpath
        </th>
        <th>
           文章xpath
        </th>
        <th></th>
    </tr>
@if(Model!=null)
{
    foreach (var item in Model) {
    <tr>
        <td>
           <p>@item.WebName</p>
        </td>
        <td>
           <p>@item.HomeUrl</p>
        </td>
        <td>
            <p>@item.ListUrl</p>
        </td>
        <td>
            <p>@item.ListXpath</p>
        </td>
        <td>
            <p>@item.ArtXpath</p>
        </td>
        <td>
            @Html.ActionLink("修改", "CreateConfig", new { id = "update",url=item.HomeUrl })
        </td>
    </tr>
    }
}
</table>
</div>

